* {
    padding: 0;
    margin: 0;
    box-sizing: border-box; /* Asegura que el padding y el borde no se sumen al ancho total del elemento */
}

h1 {
    text-align: center;
    background-color: black;
    color: white;
    padding: 20px;
}

h2 {
    text-align: center;
    background-color: black;
    color: #CFCECE;
    padding: 10px;
    margin-top: -40px;
}

nav ul {
    background-color: white;
    width: 100%;
    list-style-type: none;
    text-align: center;
    padding: 10px 0; /* Agrega un poco de espacio entre los enlaces */
}

nav li {
    display: inline-block; /* Cambia a inline-block para que se puedan centrar verticalmente */
}

nav a {
    text-decoration: none;
    color: black;
    padding: 10px; /* Reduce el espacio alrededor de los enlaces */
    display: block; /* Hace que los enlaces ocupen todo el espacio del li */
}

nav li:hover {
    background-color: black;
}

body {
    background-color: #000000;
}

.imagen-centrada {
    display: block;
    margin: 0 auto; /* Centra la imagen horizontalmente */
}

h3 {
    color: red;
    text-align: center;
    font-size: 2rem; /* Usar unidades relativas para mejor escalabilidad */
    margin-top: 20px; /* Ajusta según sea necesario */
}

p {
    text-align: justify; /* Alinea el texto justificado para una mejor legibilidad */
    color: #ECECEC; /* Estilo de texto general */
    font-size: 1rem; /* Tamaño de fuente más pequeño */
}

h4, h5, h6, h7, h8 {
    color: #E5E5E5;
    text-align: center;
    font-size: 2rem; /* Tamaño de fuente más pequeño */
    margin-top: 20px; /* Ajusta según sea necesario */
}

p2, p3, p4, p9, p10 {
    text-align: justify;
    color: #ECECEC; /* Cambiar a color de texto general */
    font-size: 1rem; /* Tamaño de fuente más pequeño */
    margin-top: 20px; /* Ajusta según sea necesario */
}

