* {
  padding: 0;
  margin: 0;
}

body {
  background-color: #000000;
  font-family: 'Amasis MT Pro Black', sans-serif;
}

h1, h2 {
  text-align: center;
  background-color: black;
  color: white;
  padding: 20px 0;
}

nav {
  text-align: center;
}

.social-links {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style-type: none;
}

.social-links li {
  margin: 0 10px;
}

.about-me, .ep-description {
  color: #ECECEC;
  text-align: justify;
  margin: 20px;
}

img {
  max-width: 100%;
  height: auto;
}

.music-links {
  margin: 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.ep-container {
  margin: 20px;
}

iframe {
  width: 100%;
  border-radius: 20px;
  margin: 20px 0;
}

h3, h4, h5, h6, h7, h8 {
  color: white;
  text-align: center;
}

h4, h5, h6, h7, h8 {
  font-size: 2em;
}

h3 {
  font-size: 1.5em;
}

.ep-container {
  position: relative;
}

.ep-description {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10px;
}
