* {
  padding: 0;
  margin: 0;
}

h1 {
  text-align: center;
  background-color: black;
  color: white;
  padding: 20px;
}

h2 {
  text-align: center;
  background-color: black;
  color: #CFCECE;
  padding: 10px;
  margin-top: -40px; 
}

nav ul {
  background-color: black;
  width: 100%;
  list-style-type: none;
  text-align: center;
}

nav li {
display: inline-flex;
   text-align: center;
}

nav a {
  text-decoration: none;
    background-color: black;
  color: black;
  padding: 20px;
  width: 150px;
}

nav li:hover {
  background-color: black;
}

body {
  background-color: #000000;
}

img {
  max-width: 100%;
}

h3 {
  color: red;
  text-align: center;
  font-size: 30px;
   font-family: Georgia, serif;
}

p1 {
  text-align: center;
text-shadow: 0 0 10px #ffb6c1, 0 0 10px #ffb6c1, 0 0 10px #ffb6c1;
  font-family: 'Amasis MT Pro Black', sans-serif;
  font-size: 25px;
  margin: 10px;
}
p2 {
  text-align: center;
text-shadow: 0 0 10px #add8e6, 0 0 10px #add8e6, 0 0 10px #add8e6;
  font-family: 'Amasis MT Pro Black', sans-serif;
  font-size: 25px;
  margin: 10px;
}
p3{
  text-align: center;
 text-shadow: 0 0 10px #D9EAD3, 0 0 20px #D9EAD3, 0 0 30px #D9EAD3;
  font-family: 'Amasis MT Pro Black', sans-serif;
  font-size: 25px;
  margin: 10px;
}
p4 {
  text-align: center;
 text-shadow: 0 0 10px white, 0 0 10px white, 0 0 10px white;
  font-family: 'Amasis MT Pro Black', sans-serif;
  font-size: 25px;
  margin: 10px;
}
p {
  color: white;
  text-align: center;

  font-family: 'Amasis MT Pro Black', sans-serif;
  src: url('AmasisMTProBlack.woff2') format('woff2'),
       url('AmasisMTProBlack.woff') format('woff');
  font-size: 25px;
  margin: 10px;
}

  h6 {
 text-shadow: 0 0 5px red, 0 0 15px red, 0 0 30px red, 0 0 50px red;
  text-align: center;
  font-size: 40px;
  margin: 20px 0;
  font-family: 'Bradley Hand', cursive;
}


  .container {
  border: 2px solid white;
  box-shadow: inset 0 0 5px red, 0 0 10px red;
  border-radius: 60px;
  max-width: 400px;
  margin: auto;
  margin-top: -300px;
  padding: 20px;
  text-align: center;
  color: white;

}

.h4{
   margin-top: 10px; 
   text-align: center;
  font-size: 40px;
  text-shadow: 0 0 5px red, 0 0 15px red, 0 0 30px red, 0 0 50px red;
}
.h10 {
   text-shadow: 0 0 5px red, 0 0 15px red, 0 0 30px red, 0 0 50px red;
  text-align: center;
  font-size: 40px;
  margin-top: 200px;
  font-family: 'Bradley Hand', cursive;
  
}
.h7{
 text-shadow: 0 0 5px red, 0 0 15px red, 0 0 30px red, 0 0 50px red;
  text-align: center;
  font-size: 40px;
  margin-top: 20px;
  font-family: 'Bradley Hand', cursive;
  
}
.h8
{
   text-shadow: 0 0 5px red, 0 0 15px red, 0 0 30px red, 0 0 50px red;
  text-align: center;
  font-size: 40px;
  margin-top: 10px;
  font-family: 'Bradley Hand', cursive;
  
}

div {
  margin: 20px;
}

iframe {
  width: 100%;
  max-width: 300px;
  margin: 20px;
}

p9 {
  text-align: right;
  background-color: black;
  color: white;
  font-size: 16px;
  margin-top: 20px;
   font-family: Georgia, serif;
}
div a img {
  max-width: 150px; /* Ajusta el tamaño según sea necesario */
  margin: 10px;
}

div img:last-child {
  max-width: 200px; /* Ajusta el tamaño según sea necesario */
  margin: 10px;
}
.images-container {
  position: relative;
}

.logo {
  position: fixed;
  top: 10px; /* Ajusta según sea necesario */
  right: 50px; /* Ajusta según sea necesario */
}

.imagen-centrada {
  display: block;
  position: absolute;
  top: 5px; /* Ajusta según sea necesario */
  right: 50px; /* Ajusta según sea necesario */
  max-width: 15%; /* Ajusta según sea necesario */
  height: auto; /* La altura se ajustará automáticamente para mantener la proporción */
}
